%style-p {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
}

%style-p-section {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1%;
  color: #777e90;
}

%style-h2 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
  color: #23262f;
}

%style-h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #23262f;
}

%nav-select {
  width: 94px;
  height: 24px;
  border: none;
  outline: none;
  padding-left: 16px;
  border-left: 1px solid #e6e8ec;
}
